@use '../custom' as *;

.border-yellow{
    border: 2px solid  #ffc107 !important;
}

.border-blue{
    border: 2px solid #007ACC !important;
}
.border-red{
    border: 2px solid #dc3545 !important;
}
.border-green{
    border: 2px solid #28a745  !important;
}
.border-purple{
    border: 2px solid #7952b3  !important;
}
.border-gray{
    border: 2px solid #343a40  !important;
}
.border-orange{
    border: 2px solid #fd7e14 !important;
}

.border-cyan{
    border: 2px solid #17a2b8 !important;
}

.border-indigo{
    border: 2px solid #6610f2 !important;
}

.border-pink{
    border: 2px solid #e83e8c !important;
}

.border-teal{
    border: 2px solid #20c997 !important;
}
